*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    padding: 39px 0 62px 0;
    background: url(../img/main_bg.jpg) center center/cover no-repeat;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    margin-top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
h1{
    margin-top: 53px;
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    text-align: center;
}
h2.title{
    margin-top: 30px;
}
.simple .title_big{
    margin-top: 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.promo .promo_text span{
    text-transform: uppercase;
}
.promo .promo_btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0  0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    border: 4px solid rgba(0, 0, 0, 0.23);
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}
.more .more_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}
.waiting{
    min-height: 604px;
    padding: 85px 0 75px 0;
    background: #EFEFEF;
}
.waiting .waiting_header {  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.waiting .waiting_divider{
    margin: 0 auto;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin-top: 18px;
}
.waiting .waiting_subheader{ 
    margin-top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}
.waiting .waiting_wrapper{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}
.optimisation{
    position: relative;
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimisation .optimisation_header{
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}
.optimisation .optimisation_text{
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimisation .optimisation_text span{
    font-family: Roboto-bold;
    font-weight: 700;
}
.optimisation .optimisation_img{
    position: absolute;
    top: 48px;
    left: -100px;
    z-index: -1;
}
.finish .finish_header {  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.finish .finish_divider{
    margin: 0 auto;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}
.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/second_bg.jpg') center center/cover no-repeat;
}
.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: #B4E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
.gifts{
    min-height: 631px;
    background: #EFEFEF;
    padding: 88px 0 88px 0;
}
.gifts .gifts_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gifts .gifts_wrapper .gifts_img{
    display: block;
    width: 154px;
}
.gifts .gifts_wrapper .gifts_text{
    margin-top: 15px;
    width: 1161px;
    padding: 0 20px 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}
.gifts .gifts_wrapper .gifts_btn{
    margin-top: 50px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.start{
    min-height: 514px;
}
.start .start_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
start_img{
    display: block;
}
.start_subheader{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.start_header{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}
.start_text{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}
.footer{
    min-height: 169px;
    background: #1A1A1A;
    padding-top: 57px;
}
.footer_links{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}
.footer_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}